.stat-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 8px solid #ff6b00;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
}

.stat-card i {
  font-size: 30px;
  color: #ff6b00;
}

.stat-left p {
  font-size: 22px;
  font-weight: bold;
}
