/* Background */
.login-container {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #fff6ed, #ffe8e8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

/* Top Section */
.login-top {
  text-align: center;
}

.login-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(to right, #ff7a00, #ff2e00);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.login-icon i {
  color: white;
  font-size: 28px;
}

.login-top h1 {
  font-size: 38px;
  margin-top: 20px;
  font-weight: bold;
}

.login-top p {
  font-size: 16px;
  color: #666;
}

/* Card */
.login-card {
  margin-top: 30px;
  width: 450px;
  background: white;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.login-card h2 {
  margin-bottom: 5px;
  font-size: 28px;
}

.subtitle {
  color: #777;
  margin-bottom: 25px;
}

/* Inputs */
label {
  font-weight: 600;
  display: block;
  margin-top: 10px;
}

.input-box {
  width: 100%;
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  background: #fff;
}

.input-box i {
  color: #777;
  margin-right: 10px;
}

.input-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

/* Forgot Password */
.forgot-text {
  text-align: right;
  font-size: 14px;
  color: #ff4b00;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Login Button */
.login-btn {
  width: 100%;
  height: 48px;
  background: linear-gradient(to right, #ff7a00, #ff2e00);
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.separator {
  text-align: center;
  margin: 15px 0;
  border-bottom: 1px solid #ddd;
  line-height: 0.1em;
}

.separator::after {
  content: "or";
  background: white;
  padding: 0 10px;
  color: #888;
}

/* Google Button */
.google-btn {
  width: 100%;
  height: 48px;
  border: 1px solid #ddd;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.google-btn i {
  font-size: 20px;
}

/* Sign Up */
.signup-text {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}

.signup-text span {
  color: #ff4b00;
  cursor: pointer;
  font-weight: 600;
}

/* Footer */
footer {
  margin-top: 25px;
  color: #777;
  font-size: 14px;
}
