.features {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  gap: 20px;
  margin-top: 20px;
  background-color: #f3e1e1;
}

.feature-card {
  width: 32%;
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0px 4px 14px #00000010;
  transition: 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-4px);
}

.feature-icon {
  background: #ffeede;
  width: 55px;
  height: 55px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.feature-card h3 {
  color: #8b2f0f;
  margin-bottom: 8px;
}

.feature-card p {
  color: #5f5f5f;
  font-size: 14px;
}
